/.historian
/.session
/session.*
/.smex-items
/.uptimes.el
/auto-save-list
/custom.el
/ditaa*.jar
/history
/network-security.data
/elpa-*
/org-clock-save.el
/projectile-bookmarks.eld
/projectile.cache
/recentf
/srecode-map.el
/tramp
/var
/jedi-custom.el
/semanticdb
/cc-mode-header-custom.el
/cc-mode-projects.el
/ede-projects.el
/eshell
/server
plantuml.jar
/irony
/undo