/.historian
/.session
/.smex-items
/.uptimes.el
/auto-save-list
/custom.el
/ditaa*.jar
/history
/elpa-*
/org-clock-save.el
/projectile-bookmarks.eld
/projectile.cache
/recentf
/srecode-map.el
/tramp
/var
